# Dependency directories
node_modules/
nodejs/node_modules/

# Cache directories
.cache/
.next/
out/
.vscode/
.idea/

# Misc
.DS_Store
.env
.env.development
.env.production
nodejs/.DS_Store
nodejs/.DS_Store
nodejs/app.log
nodejs/mobininja-backend-out.log
nodejs/uploads/supportVideos

build/
