:root {
  --main-hovering-color: rgb(241, 244, 246);
  --main-hover-color: rgb(241, 244, 246);
  --main-grey-color: rgb(241, 244, 246);
  --main-white-color: rgb(255, 255, 255);
  --main-sideborder-color: rgb(225, 232, 237);
  --main-imgtext-color: rgb(255, 255, 255);
  --main-orange-color: rgb(254, 112, 10);
  --main-green-color: rgb(92, 182, 95);
  --main-cyan-color: rgb(23, 194, 215);
  --main-blush-color: rgb(226, 89, 133);
  --main-indigo-color: rgb(147, 103, 180);
  --main-red-color: rgb(247, 78, 78);
  --main-gray-color: rgb(206, 212, 218);
  --main-sidebarfont-color: #17191c;
  --main-dashboardfont-color: #6c757d;
  --main-progressdashboard-color: rgb(254 112 10);
  --main-modalbackground-color: rgb(255, 255, 255);
  --main-bordermodaldashboard-color: rgba(225, 232, 237, 0.967);
  --main-noticeboarddashboard-color: rgb(211, 211, 211);
  --main-fordarkthemeborderonlt-color: rgb(255, 255, 255);
  --main-adminnumberheader-color: rgb(74, 76, 78);
  --main-adminheaderpage-color: rgb(23, 25, 28);
  --main-adminnumberfont-color: rgb(119, 121, 124);
  --main-transaprent-color: rgba(0, 0, 0, 0);
  --main-modalicon-color: rgb(119, 121, 124);
  --main-modaliconfontmodal-color: rgb(119, 121, 124);
  --main-whiteborder-color: white;
  --main-lightdarkthemeborder-color: rgb(225, 232, 237);
  --main-buttoncolor-color: rgb(241, 244, 246);
  --main-switchbackground-color: rgba(23, 25, 28, 0.15);
  --main-switch-logout-color: rgb(23, 25, 28);
  --main-btn-color: rgb(255, 255, 255);
  --main-searchGrey-color: rgba(171, 177, 186, 1);
  --main-delete-color: #dc3545;
  --main-transparent-border-color: rgba(0, 0, 0, 0);
  --main-dashboard-button-color: rgb(255, 255, 255);
  --main-deliver-color: gray;
  --main-clanderblack-color: rgb(40, 43, 47);
  --main-cencelcolor-color: rgb(225, 232, 237);
  --main-logintext-color: rgb(165, 168, 173);
  --main-tabledarkbackground-color: white;
  --border-width: 1px 1px 1px 1px;
  --border-style: solid;
  --border-color: rgb(225, 232, 237);
  --dashboard-calldetails-btn: rgb(225, 232, 237);
  --main-link-color: rgb(67, 122, 199);
  --main-dragdrop-color: rgb(185, 185, 185);
  --main-ul-color: rgb(111, 123, 125);
  --main-internactivebutton-color: rgb(226, 228, 231);
  --main-activebutton-color: rgb(187, 190, 194);
  --main-inputplaceholder-color: rgb(57, 61, 66);
  --main-forgot-color: rgb(154, 154, 154);
  --main-blue-color: rgb(0, 127, 255);
  --main-dropdown-color: rgb(165, 168, 173);
  --main-svgdark-color: rgb(119, 121, 124);
  --main-tabs-color: rgb(111, 123, 125, 0.7);
  --main-dropdowncontent-color: rgb(165, 168, 173);
  --main-destinationdropdown-color: rgb(100, 100, 100);
  --main-prantrowhover-color: rgb(158, 173, 186, 0.2);
  --main-wpchatscreen-color: rgb(254, 112, 10, 0.2);
  --main-badgebusy-color: rgb(235, 21, 21, 1);
  --main-activemessage-color: rgb(254, 112, 10, 0.2);
  --main-customcontent-color: rgb(47, 51, 56);
  --main-customebtn-color: rgb(219, 227, 232);
  --main-cardheader-color: rgb(33, 40, 52);
  --main-progressdash-color: rgb(150, 152, 156);
  --main-dashtextblue-color: rgb(86, 138, 211);
  --main-location-color: rgb(135, 144, 155);
  --main-boxshadowdropdown-color: rgb(23 25 28 / 50%);
  --main-fileuploadsvg-color: rgb(185, 185, 185.6);
  --main-listgroupiten-color: #79797a;
  --main-borderblue-color: rgb(0, 123, 255);
  --main-musicbackborder-color: rgba(128, 128, 128, 0.22);
  --main-siderscroll-color: #f1f1f1;
  --main-siderscrollthumb-color: rgb(136, 136, 136);
  --main-droparea-color: #777;
  --main-dropareahover-color: #f6f6f6;
  --main-droparear2-color: #fff;
  --main-adiuolitshner-color: #eee;
  --main-newaudiolitshner-color: #444;
  --main-tabsbgcolor-color: #17191c33;
  --main-btnprimary-color: #9c989c;
  --main-tabnotvisited-color: #96989c;
  --main-paragraphsupport-color: #f8f9fa;
  --main-recordplus-color: #dc354596;
  --main-messagesent-color: #f1f4f6;
  --main-primarybtnfocus-color: #ccc;
  --main-forwardmodal-color: #1f2124;
  --main-messageshow-color: #ffa500ad;
  --main-callrouting-color: #80808036;
  --main-customemodalborder-color: #ced4da;
  --main-grouptextbgcolor-color: #e9ecef;
  --main-progresscircle-color: #333;
  --main-btninfo-color: #ffffff;
  --main-ringroupmodalcolor-color: #80808038;
  --main-progresscirclebg-color: #ddd;
  --main-dashboardth-color: #dee2e6;
  --main-c3gridline-color: #f0f0f0;
  --main-c3gridtext-color: #aaa;
  --main-ygrid-color: #e6e6e6;
  --main-c3empty-color: #808080;
  --main-c3itemtext-color: #777777;
  --main-tooltip-color: #212529;
  --main-chararc-color: #e0e0e0;
  --main-c3-axis-color: #9aa0ac;
  --main-logosvg-color: #61dafb;
  --main-callsvg-color: #d9d9d9;
  --main-chatnewsvg-color: #4f772d;
  --main-cloudupload-color: #c5c5c5;
  --main-callmake-color: #0f0f0f;
  --main-deafultsvg-color: #000000;
  --main-audiotypesvg-color: #292d32;
  --main-backspace-color: #1c274c;
  --main-loackfilled-color: #9a9a9a;
  --main-voicemail-color: #d9d9d9;
  --main-phone-color: #fffffe;
  --main-language-color: #020202;
  --main-bodyhover-color: rgba(255, 255, 255, 0.05);
  --main-loader3-color: rgba(255, 255, 255, 0.8);
  --main-hoverlayer-color: rgba(0, 0, 0, 0.6);
  --main-fcday-color: rgba(23, 25, 28, 0.02);
  --main-bgcolor-color: rgba(255, 255, 255, 0.7);
  --main-messageshowopacity-color: rgba(255, 165, 0, 0.68);
  --main-c3line-color: rgba(0, 40, 100, 0.12);
  --main-slefdropdowncolor-color: rgba(0, 0, 0, 0.15);
  --main-logout-color: rgba(0, 0, 0, 0.5);
  --main-customeslider-color: rgba(255, 255, 255, 0.1);
  --mian-webphonecloseshadow-color: rgba(0, 0, 0, 0.2);
  --main-teaminfoboxshadow-color: rgba(23, 25, 28, 0.2);
  --main-chartuserbg-color: rgba(70, 127, 207, 0.1);
  --main-lightthemesvg-color: rgba(255, 255, 255, 0.5);
  --main-drawerboxshado-color: rgba(23, 25, 28, 0.2);
  --main-userfull-color: rgba(23, 25, 28, 0.5);
  --main-menuboxshadow-color: rgba(23, 25, 28, 0.4);
  --main-progress-color: #5c8ad3;
  --main-callhisotrysvg-color: #cccccc;
  --main-fillsvg-color: #87909b;
  --main-light-color: #040505;
  --main-audiocomponenet-color: rgb(241, 244, 246);
  --main-cancel-icon-color: rgb(0, 0, 83);
  --main-orangecustomermodal-color: #fe700a;
  --main-green-color: #5cb85c;
  --main-error-color: #d9534f;
  --main-error-bg-color: #f8d7da;
  --main--color: #0275d8;
  --main-input-disabled: #f0f0f0;
  --main-Tabbackground-color: #17191c33;
  --main-Progressbg-color: rgba(86, 138, 211, 0.2);
  --main-Custometooltip-color: rgba(0, 0, 0, 0.75);
  --main-hyperlink-color: rgb(0, 0, 255);
  --main-base-color: rgb(0, 0, 0);
}

[data-theme="Dark"] {
  --main-base-color: rgb(255, 255, 255);
  --main-cencelcolor-color: rgb(124, 119, 119);
  --main-modaliconfontmodal-color: white;
  --main-hovering-color: rgb(158, 173, 186, 0.2);
  --main-hover-color: rgb(158, 173, 186, 0.2);
  --main-grey-color: rgb(34, 37, 42);
  --main-white-color: rgb(34, 37, 42);
  --main-gray-color: lightgray;
  --main-sidebarfont-color: rgb(255, 255, 255);
  --main-dashboardfont-color: rgb(255, 255, 255);
  --main-progressdashboard-color: rgb(150, 152, 156);
  --main-modalbackground-color: rgb(40, 43, 47);
  --main-clanderblack-color: rgb(40, 43, 47, 0.4);
  --main-bordermodaldashboard-color: rgba(255, 255, 255, 0.09);
  --main-noticeboarddashboard-color: rgba(255, 255, 255, 0.2);
  --main-fordarkthemeborderonlt-color: rgba(255, 255, 255, 0.09);
  --main-adminnumberheader-color: white;
  --main-adminheaderpage-color: rgb(255, 255, 255);
  --main-adminnumberfont-color: rgb(255, 255, 255);
  --main-transaprent-color: rgb(40, 43, 47);
  --main-modalicon-color: #495057;
  --main-lightdarkthemeborder-color: rgb(57, 61, 66);
  --main-buttoncolor-color: rgb(40, 43, 47);
  --main-switchbackground-color: #495057;
  --main-switch-logout-color: #495057;
  --main-btn-color: rgba(255, 255, 255, 0.09);
  --main-delete-color: #dc3545;
  --main-logintext-color: white;
  --main-transparent-border-color: rgb(57, 61, 66);
  --main-dashboard-button-color: rgb(40, 43, 47);
  --main-whiteborder-color: rgba(255, 255, 255, 0.09);
  --main-tabledarkbackground-color: rgb(40, 43, 47);
  --border-width: 1px 0px 0px 0px;
  --border-style: solid;
  --border-color: rgba(255, 255, 255, 0.09);
  --dashboard-calldetails-btn: rgb(47, 51, 56);
  --main-link-color: rgb(67, 122, 199);
  --main-dragdrop-color: rgb(185, 185, 185);
  --main-ul-color: rgb(111, 123, 125);
  --main-internactivebutton-color: rgb(226, 228, 231);
  --main-activebutton-color: rgb(187, 190, 194);
  --main-inputplaceholder-color: rgb(57, 61, 66);
  --main-forgot-color: rgb(154, 154, 154);
  --main-blue-color: rgb(0, 127, 255);
  --main-dropdown-color: rgb(165, 168, 173);
  --main-svgdark-color: rgb(119, 121, 124);
  --main-tabs-color: rgb(111, 123, 125, 0.7);
  --main-dropdowncontent-color: rgb(165, 168, 173);
  --main-destinationdropdown-color: rgb(100, 100, 100);
  --main-prantrowhover-color: rgb(158, 173, 186, 0.2);
  --main-wpchatscreen-color: rgb(254, 112, 10, 0.2);
  --main-badgebusy-color: rgb(235, 21, 21, 1);
  --main-activemessage-color: rgb(254, 112, 10, 0.2);
  --main-customcontent-color: rgb(47, 51, 56);
  --main-customebtn-color: rgb(219, 227, 232);
  --main-cardheader-color: rgb(33, 40, 52);
  --main-progressdash-color: rgb(150, 152, 156);
  --main-dashtextblue-color: rgb(86, 138, 211);
  --main-location-color: rgb(135, 144, 155);
  --main-boxshadowdropdown-color: rgb(23 25 28 / 50%);
  --main-fileuploadsvg-color: rgb(185, 185, 185.6);
  --main-listgroupiten-color: #79797a;
  --main-borderblue-color: rgb(0, 123, 255);
  --main-musicbackborder-color: rgba(128, 128, 128, 0.22);
  --main-siderscroll-color: #f1f1f1;
  --main-siderscrollthumb-color: rgb(136, 136, 136);
  --main-droparea-color: #777;
  --main-dropareahover-color: #f6f6f6;
  --main-droparear2-color: #fff;
  --main-adiuolitshner-color: #eee;
  --main-newaudiolitshner-color: #444;
  --main-tabsbgcolor-color: #17191c33;
  --main-btnprimary-color: #9c989c;
  --main-tabnotvisited-color: #96989c;
  --main-paragraphsupport-color: #f8f9fa;
  --main-recordplus-color: #dc354596;
  --main-messagesent-color: #f1f4f6;
  --main-primarybtnfocus-color: #ccc;
  --main-forwardmodal-color: #1f2124;
  --main-messageshow-color: #ffa500ad;
  --main-callrouting-color: #80808036;
  --main-customemodalborder-color: #ced4da;
  --main-grouptextbgcolor-color: #e9ecef;
  --main-progresscircle-color: #fff;
  --main-btninfo-color: #ffffff;
  --main-ringroupmodalcolor-color: #80808038;
  --main-progresscirclebg-color: #ddd;
  --main-dashboardth-color: #dee2e6;
  --main-c3gridline-color: #f0f0f0;
  --main-c3gridtext-color: #aaa;
  --main-ygrid-color: #e6e6e6;
  --main-c3empty-color: #808080;
  --main-c3itemtext-color: #777777;
  --main-tooltip-color: #212529;
  --main-chararc-color: #e0e0e0;
  --main-c3-axis-color: #9aa0ac;
  --main-logosvg-color: #61dafb;
  --main-callsvg-color: #d9d9d9;
  --main-chatnewsvg-color: #4f772d;
  --main-cloudupload-color: #c5c5c5;
  --main-callmake-color: #0f0f0f;
  --main-deafultsvg-color: #000000;
  --main-audiotypesvg-color: #292d32;
  --main-backspace-color: #1c274c;
  --main-loackfilled-color: #9a9a9a;
  --main-voicemail-color: #d9d9d9;
  --main-phone-color: #fffffe;
  --main-language-color: #020202;
  --main-bodyhover-color: rgba(255, 255, 255, 0.05);
  --main-loader3-color: rgba(255, 255, 255, 0.8);
  --main-hoverlayer-color: rgba(0, 0, 0, 0.6);
  --main-fcday-color: rgba(23, 25, 28, 0.02);
  --main-bgcolor-color: rgba(255, 255, 255, 0.7);
  --main-messageshowopacity-color: rgba(255, 165, 0, 0.68);
  --main-c3line-color: rgba(0, 40, 100, 0.12);
  --main-slefdropdowncolor-color: rgba(0, 0, 0, 0.15);
  --main-logout-color: rgba(0, 0, 0, 0.5);
  --main-customeslider-color: rgba(255, 255, 255, 0.1);
  --mian-webphonecloseshadow-color: rgba(0, 0, 0, 0.2);
  --main-teaminfoboxshadow-color: rgba(23, 25, 28, 0.2);
  --main-chartuserbg-color: rgba(70, 127, 207, 0.1);
  --main-lightthemesvg-color: rgba(255, 255, 255, 0.5);
  --main-drawerboxshado-color: rgba(23, 25, 28, 0.2);
  --main-userfull-color: rgba(23, 25, 28, 0.5);
  --main-menuboxshadow-color: rgba(23, 25, 28, 0.4);
  --main-progress-color: #5c8ad3;
  --main-callhisotrysvg-color: #cccccc;
  --main-fillsvg-color: #87909b;
  --main-light-color: #040505;
  --main-audiocomponenet-color: rgb(241, 244, 246);
  --main-cancel-icon-color: rgb(255, 255, 255);
  --main-green-color: #5cb85c;
  --main-error-color: #d9534f;
  --main-error-bg-color: #f8d7da;
  --main-blur-color: #0275d8;
  --main-input-disabled: #333333;
  --main-Tabbackground-color: #6f7b7d;
  --main-Custometooltip-color: rgb(255, 255, 255, 0.8);
}
